In [1]:
import numpy as np 
import pandas as pd 
import warnings
import os
data = pd.read_csv("https://raw.githubusercontent.com/Bungeetech/internship-test2/master/input/question-2/main.csv",encoding='latin1')
data

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg
...,...,...,...,...,...,...,...
295,1203,butter-0.25,dairy,2021-11-26,11.90,31,pcs
296,1203,butter-0.25,dairy,2021-11-27,11.90,29,pcs
297,1203,butter-0.25,dairy,2021-11-28,11.90,37,pcs
298,1203,butter-0.25,dairy,2021-11-29,11.90,34,pcs
299,1203,butter-0.25,dairy,2021-11-30,11.90,36,pcs

In [7]:
data["sales_amount"]= data["sales_quantity"].where( 
    data["unit"] != "pcs", 
    data["product_description"].str.split("-", expand=True)[1].astype("float") * \
    data["sales_quantity"]
)

In [8]:
data

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,sales_amount
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg,36.00
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg,23.00
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg,34.00
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg,23.00
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg,34.00
...,...,...,...,...,...,...,...,...
295,1203,butter-0.25,dairy,2021-11-26,11.90,31,pcs,7.75
296,1203,butter-0.25,dairy,2021-11-27,11.90,29,pcs,7.25
297,1203,butter-0.25,dairy,2021-11-28,11.90,37,pcs,9.25
298,1203,butter-0.25,dairy,2021-11-29,11.90,34,pcs,8.50
299,1203,butter-0.25,dairy,2021-11-30,11.90,36,pcs,9.00